<div class="pet-content">
  <h2><%= @pet.name if @pet.name %></h2>
  <%= image_tag(@pet.image.url(:extralarge)) %>
<br>
<br>
  <h3><b>Species:</b> <%= @pet.species%> </h3>
  <h3><b>Size:</b> <%= @pet.size%></h3>
  <h3><b>Activity Level:</b> <%= @pet.activity_level%></h3>
  <h3><b>Personality:</b> <%= @pet.personality %></h3>



<br>
  <% if user_signed_in? %>
  	<% if @pet.adopted == false %>
    <%= button_to "Adopt me!", adopt_path(id: @pet), :class => "button medium radius", :method => :patch %>
  	<% end %>

    <% if Favorite.where(:user_id => current_user.id, :pet_id => @pet.id).first == nil %>
    <%= button_to "Add to favorites!", favorite_path(id: @pet), :class => "button medium radius", :method => :patch %>
    <% end %>

  <% end %>
</div>
