<div class="content">
  <h2>Name: <%= @pet.name if @pet.name %></h2>
  <%= image_tag(@pet.image.url(:med)) %>

  <h2>Species: <%= @pet.species%></h2>
  <h2>Activity Level: <%= @pet.activity_level%></h2>
  <h2>Personality: <%= @pet.personality %></h2>
  <h2>Size: <%= @pet.size%></h2>



  <% if user_signed_in? %>

  	<% if @pet.adopted == false %>
  <%= button_to "Adopt this pet!", adopt_path(id: @pet), :class => "button medium radius", :method => :patch %>
  	<% end %>

  <%= button_to "Add to favorites", favorite_path(id: @pet), :class => "button medium radius", :method => :patch %>
  <% end %>
</div>
