<h3><center>Adopt Don't Shop</center></h3>
<%= button_to "Add A Pet", new_pet_path, :class => "button medium", :method => :get %>
<%= button_to "Adopters Sign Up/Login", new_user_registration_path, :class => "button medium", :method => :get %>
<%= button_to "Shelters Sign Up/Login", new_shelter_registration_path, :class => "button medium", :method => :get %>

<p>Pets:
	<% @pets.each do |pet| %>
		<p><%= link_to pet.name, pet %></p>
		 <%= link_to image_tag(pet.image.url(:med)), pet %>
		 <br>
		 <br>

	<% end %>
</p>
