<h3><center>Adopt Don't Shop</center></h3>

<% if !shelter_signed_in? && ! user_signed_in? %>
	<span style="float: right;"><%= button_to "Adopters Sign Up/Login", new_user_registration_path, :class => "button medium", :method => :get %></span>
	<span style="float: left;"><%= button_to "Shelters Sign Up/Login", new_shelter_registration_path, :class => "button medium", :method => :get %></span>
<% end %>
<% if shelter_signed_in? %>
	<span style="float: right;"><%= button_to "Add A Pet", new_pet_path, :class => "button medium", :method => :get %> </span>
<% end %>
<% if user_signed_in? %>
	<span style="float: left;"><%= button_to "Logout", destroy_user_session_path, :class => "button medium", :method => :delete %></span>
<%end %>

<% if shelter_signed_in? %>
	<span style="float: left;"><%= button_to "Logout", destroy_shelter_session_path, :class => "button medium", :method => :delete %></span>
<%end %>



<%= form_tag pets_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Pets" %>
    <%= submit_tag "Search" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>


	<p>Pets:
		<div class="small-9 column">
		<% @pets.each do |pet| %>
			<p><%= link_to pet.name, pet %></p>
			 <%= link_to image_tag(pet.image.url(:med)), pet %>
			 <br>
			 <br>
		<% end %>
		</div>
	</p>






<% if user_signed_in? %>
	My Pets:
	<% current_user.pets.each do |pet| %>
		<p><%= pet.name %><p>
	<% end %>

	<% if Favorite.where(:user_id => current_user.id).first %>
	My Favorited Pets:
	<% f = Favorite.where(:user_id => current_user.id)  %>
		<% f.each do |fav| %>
			<p>
			<%= Pet.where(:id => fav[:pet_id]).first[:name] %>
			</p>
		<% end %>
	<% end %>
<%end %>
