<div class="search-info">
	<div class="search-content">
		<%= form_tag pets_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], placeholder: "Search Pets" %>
	    <%= submit_tag "Search", :class => "button radius expand" %>
		<% end %>
		<%= link_to "Advanced Search", new_search_path, class: "link-color" %>
	</div>
</div>

<div class="pet-feed">
	<p><div class="feature-title">Featured Pets:</div>
		<table border="0">
			<% @pets.in_groups_of(5, false) do |pet_row| %>
			<tr>
				<% for pet in pet_row %>
					<% if pet.adopted == false %>
					 <td class="pet-icon"><p><%= link_to image_tag(pet.image.url(:large)), pet %></p>
					 <p><%= link_to pet.name, pet, class: "link-color" %></p>
					 Personality: <%= pet.personality %></td>
					<% end %>
		    <% end %>
			</tr>
			<% end %>
		</table>
	</p>
</div>
