<div class="search-info">
	<div class="search-content">
		<%= form_tag pets_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], placeholder: "Search Pets" %>
	    <%= submit_tag "Search", :class => "button radius expand" %>
		<% end %>
		<%= link_to "Advanced Search", new_search_path, class: "link-color" %>
	</div>
</div>

<div class="pet-feed">
	<p>Featured Pets:
		<% @pets.each do |pet| %>
			<% if pet.adopted == false %>
			 <div class="pet-icons">
				 <p><%= link_to image_tag(pet.image.url(:med)), pet %></p>
			 	 <p><%= link_to pet.name, pet, class: "link-color" %></p>
				 Personality: <%= pet.personality %>
			 </div>
			 <br>
			 <%end %>
		<% end %>
	</p>
</div>

<div class="user-pets">
<% if user_signed_in? %>
	<% if current_user.pets.first %>
		My Adopted Pets:
		<% current_user.pets.each do |pet| %>
			<p><%= pet.name %><p>
		<% end %>
	<% end %>
	<br>

	<% if Favorite.where(:user_id => current_user.id).first %>
	My Favorited Pets:
	<% f = Favorite.where(:user_id => current_user.id)  %>
		<% f.each do |fav| %>
			<p>
			<%= Pet.where(:id => fav[:pet_id]).first[:name] %>
			</p>
		<% end %>
	<% end %>
<%end %>
</div>
