<div class="search-info">
	<div class="search-content">
		<%= form_tag pets_path, :method => 'get' do %>
	    <%= text_field_tag :search, params[:search], placeholder: "Search Pets" %>
	    <%= submit_tag "Search", :class => "button radius expand" %>
		<% end %>
		<%= link_to "Advanced Search", new_search_path, class: "link-color" %>
	</div>
</div>

<div class="pet-feed">
	<p>Featured Pets:
		<% @pets.each do |pet| %>
			 <div class="pet-icons">
			 	<% if pet.adopted == false %>
				 <p><%= link_to image_tag(pet.image.url(:med)), pet %></p>
			 	 <p><%= link_to pet.name, pet, class: "link-color" %></p>
				 Personality: <%= pet.personality %>
				<% end %>
			 </div>
			 <br>
		<% end %>
	</p>
</div>

